<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}Колесо удачи{% endblock %}</title>
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>