{% extends 'base.html.twig' %}

{% block body %}
    <style>
        /* Стили для кнопки */
        button {
            display: block;
            margin: 0 auto;
            padding: 20px 40px; /* Изменили значения padding */
            font-size: 20px; /* Увеличили размер шрифта */
            background-color: #db347f;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        /* Базовые стили кнопки */
        .btn {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            text-decoration: none;
            text-align: center;
            transition: background-color 0.3s ease;
        }

        /* Стили для различных цветов кнопки */
        .btn-primary {
            background-color: #B83B5E;
            color: #fff;
        }

        /* Стили для контейнера, содержащего картинки */
        .image-container {
            position: relative;
            width: 100%;
            height: 85vh;
        }

        /* Стили для изображения */
        .image-container img {
            position: absolute;
            bottom: 10px;
            right: 10px;
            max-width: 200px;
        }

        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .header-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 10px;
        }
        .title {
            text-align: center;
            flex-grow: 1;
        }
    </style>
    <div class="header-container">
        <h1 class="title"></h1>
        <a href="/settings" class="btn btn-primary">Выбор счастливчиков</a>
    </div>
    <h1>Счастливчик дня</h1>
    <img id="image3" src="img_3.png">
    <form method="POST" action="/result">
        <button id="changeImageBtn">Нажми меня</button>
    </form>
    <img id="image4" src="img_2.png">
    <div class="image-container">
        <img id="image1" src="img.png">
        <img id="image2" src="img_1.png">
    </div>

    <script>
        const button = document.getElementById('changeImageBtn');
        const image1 = document.getElementById('image1');
        const image2 = document.getElementById('image2');

        button.addEventListener('mouseover', () => {
            image1.style.display = 'block';
            image2.style.display = 'none';

        });

        button.addEventListener('mouseout', () => {
            image1.style.display = 'none';
            image2.style.display = 'block';
        });
    </script>
{% endblock %}

