{% extends 'base.html.twig' %}

{% block body %}
    <style>
        h1 {
            color: #B83B5E;
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        /* Стили для таблицы */
        table.striped {
            width: 100%;
            border-collapse: collapse;
        }

        table.striped th {
            background-color: #B83B5E;
            color: #fff;
            font-weight: bold;
            padding: 10px;
            text-align: left;
        }

        table.striped td {
            border-bottom: 1px solid #B83B5E;
            padding: 10px;
        }

        table.striped tr:last-child td {
            border-bottom: none;
        }

        .name-column {
            width: 200px;
        }

        /* Базовые стили кнопки */
        .btn {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            text-decoration: none;
            text-align: center;
            transition: background-color 0.3s ease;
        }

        /* Стили для различных цветов кнопки */
        .btn-primary {
            background-color: #B83B5E;
            color: #fff;
        }

        h1 {
            margin-top: 10px;
            font-size: 48px;
        }

        .add-input {
            position: relative;
            border: none;
            border-bottom: 1px solid #000;
            outline: none;
            background: transparent;
            padding-bottom: 5px;
        }

        .add-input::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #000;
            transform: scaleX(0);
            transition: transform 0.3s ease;
        }

        .add-input:focus::after {
            transform: scaleX(1);
            background-color: #888;
        }

        .delete-link {
            color: #B83B5E;
            text-decoration: none;
            font-size: 38px;
        }

        .delete-link:hover {
            text-decoration: none;
        }
        .header-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    </style>
    <div class="header-container">
        <h1>Выбор счастливчиков</h1> <a href="/roulette" class="btn btn-primary">Крутить</a>
    </div>
    <form method="POST" action="/add_name">
        <input autocomplete="off" class="add-input" type="text" name="add_name" placeholder="Фамилия Имя">
        <button class="btn btn-primary" type="submit">Добавить</button>
    </form>
    <br>

    <table class="striped">
        <thead>
        <tr>
            <th class="name-column">Имена</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for name in names %}
            <tr>
                <td>{{ name }}</td>
                <td><a class="delete-link" href="{{ path('delete_name', {'delete_name': name}) }}">✖</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

